.title {
  margin: 0 auto;
  position: relative;
  font-size: 40px;
  font-weight: 400;
  line-height: 105%;
  font-family: "Tartuffo", sans-serif;
  font-style: normal;
  text-align: center;
  width: 366px;
}

.text {
  position: relative;
  z-index: 2;
  padding: 0 33px;
}

.titleLine {
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  z-index: 1;
}

@media (max-width: 576px) {
  .title {
    margin: 0 auto;
    position: relative;
    font-size: 40px;
    font-weight: 400;
    line-height: 105%;
    font-family: "Tartuffo", sans-serif;
    font-style: normal;
    text-align: center;
    width: 335px;
  }
}
