html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
}

:root {
  background-color: #f7eee3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;

  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    outline: 2px solid currentColor;
  }

  &:focus {
    outline: none;
  }
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Tartuffo";
  src: url("/fonts/TARTUFFO-LIGHTITALIC.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tartuffo";
  src: url("/fonts/TARTUFFO-REGULAR.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
