.ourChef {
  margin-top: 80px;
}

.chefName {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 300;
  line-height: 105%;
  font-family: "Tartuffo", sans-serif;
  color: #004cc9;
  font-style: italic;
  text-align: center;
}

.chefImage {
  margin-top: 20px;
  position: relative;
  margin-left: -50px;
  margin-right: -50px;
  width: 100vw;
  height: 540px;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/images/bgx.png") repeat center center;
  background-size: contain;
  opacity: 0.1;
  z-index: -100;
}

.imageContainer {
  margin: 0 auto;
  position: relative;
  width: 660px;
  height: 100%;
  z-index: 100;
}

.image {
  object-fit: cover;
  object-position: 85% 15%;
}

.descriptionContainer {
  margin: 0 auto;
  margin-top: 30px;
  width: 660px;
}

.description {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 120%;
  font-family: "Tartuffo", sans-serif;
  color: #2b2c2c;
  font-style: italic;
  text-align: center;
}

.meritLeft,
.meritRight {
  margin-top: 26px;
  width: 393px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #2b2c2c;
  line-height: 100%;
  text-align: left;
}

.meritRight {
  margin-top: 20px;
  margin-left: auto;
  text-align: right;
}

@media (max-width: 768px) {
  //577
  .imageOverlay {
    display: none;
  }

  .chefImage {
    margin-top: 30px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 440px;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .descriptionContainer {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .chefImage {
    width: 100%;
    height: 320px;
  }

  .image {
    object-fit: cover;
    object-position: 50% 15%;
  }

  .meritLeft,
  .meritRight {
    width: 100%;
    max-width: 393px;
  }
}
