.welcomeSection {
  position: relative;
  width: 100%;
  height: 682px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftSide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightSide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/bg.png");
  opacity: 0.1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.content {
  padding: 95px 60px 73px 60px;
  background-color: #f7eee3;
  z-index: 1000;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 105%;
  font-family: "Tartuffo", sans-serif;
  color: #2b2c2c;
  font-style: normal;
  text-align: center;
}

.highlight {
  display: block;
  font-weight: 300;
  color: #004cc9;
  font-style: italic;
  font-family: "Tartuffo", sans-serif;
}

.description {
  margin: 25px 62px 0 62px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #2b2c2c;
}

.bracerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.logoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 187px;
  z-index: 1000;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1439px) {
  //1201
}

@media (max-width: 1200px) {
  //993

  .welcomeSection {
    height: 600px;
  }

  .content {
    padding: 75px 45px 73px 45px;
  }

  .description {
    margin: 20px 20px 0 20px;
  }

  .title {
    font-size: 55px;
  }

  .logoContainer {
    width: 170px;
    height: 157px;
  }
}

@media (max-width: 992px) {
  //769

  .welcomeSection {
    width: 100%;
    height: 728px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .rightSide {
    padding-top: 80px;
  }

  .title {
    // margin-top: 80px;
    font-size: 50px;
  }

  .description {
    margin: 0;
    margin: 25px;
    width: 327px;
  }

  .logoContainer {
    width: 125px;
    height: 117px;
  }

  .bg {
    display: none;
  }
}

@media (max-width: 768px) {
  //577
  .title {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .content {
    padding: 0 33px 20px 33px;
  }
  .description {
    margin-top: 15px;
    font-size: 14px;
  }

  .title {
    font-size: 42px;
  }

  .description {
    margin: 0;
    margin-top: 15px;
  }

  .bracerIcon {
    margin-top: 15px;
  }
}
