.copiedModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 12px 24px;
  border-radius: 8px;
  z-index: 1000;
  pointer-events: none;
}

.copiedModalTitle {
  font-size: 16px;
  font-weight: 400;
  font-family: "Tartuffo", sans-serif;
  font-style: normal;
  text-align: center;
  line-height: auto;
  color: #fff;
}
