.poster {
  margin-top: 35px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  left: -20px;
  width: 100vw;
  height: 500px;
  background-color: #ff6178;
  z-index: 1;
}

.posterOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/bgPoster.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.posterTitle {
  position: relative;
  font-size: 30px;
  font-weight: 400;
  font-family: "Tartuffo", sans-serif;
  font-style: normal;
  text-align: center;
  line-height: auto;
  color: #f7eee3;
  &::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #f7eee3;
  }
}

.posterImage {
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  width: 234px;
  height: 327px;
}

.shareContainer {
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 380px;
}

.shareItem {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}

.shareItemText {
  font-size: 20px;
  font-weight: 400;
  font-family: "Tartuffo", sans-serif;
  font-style: normal;
  text-align: left;
  line-height: auto;
  color: #f7eee3;
}

.shareItemIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.icon {
  padding: 9px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shareIcon {
  border: none;
}

.spinAgainButton {
  padding: 8px 36px;
  background-color: #004cc9;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Tartuffo", sans-serif;
  font-style: normal;
  text-align: center;
  line-height: auto;
  color: #f7eee3;
}

@media (min-width: 769px) {
  //992

  .posterTitle {
    font-size: 40px;
  }

  .poster {
    left: -50px;
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    max-height: 700px;
  }

  .posterImage {
    width: 70%;
    height: 70%;
  }

  .shareContainer {
    max-width: 480px;
  }

  .shareItemText {
    font-size: 30px;
  }

  .spinAgainButton {
    font-size: 25px;
  }
}
