.roulete {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topHand {
  position: absolute;
  top: 0;
  left: -25px;
  width: 153px;
  aspect-ratio: 1;
  transform: rotate(5deg);
}

.rouleteImage {
  position: relative;
  width: 320px;
  max-width: 400px;
  top: 0;
  aspect-ratio: 1;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;

  * {
    user-select: none;
    -webkit-user-drag: none;
  }
}

.bottomHand {
  position: absolute;
  bottom: -25px;
  right: -20px;
  width: 144px;
  aspect-ratio: 1;
}

@media (min-width: 577px) {
  //768
  .roulete {
    height: 650px;
  }

  .rouleteImage {
    width: 450px;
    max-width: none;
  }

  .topHand {
    position: absolute;
    top: 0;
    left: -40px;
    width: 220px;
  }

  .bottomHand {
    position: absolute;
    bottom: -50px;
    right: -20px;
    width: 220px;
  }
}

@media (min-width: 769px) {
  //992

  .roulete {
    height: 700px;
  }

  .rouleteImage {
    width: 550px;
    max-width: none;
  }

  .topHand {
    position: absolute;
    top: 0;
    left: -70px;
    width: 220px;
  }

  .bottomHand {
    position: absolute;
    bottom: -50px;
    right: -60px;
    width: 220px;
  }
}
