.welcomeScreen {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  padding: 50px 20px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 335px;
}

.title {
  font-size: 40px;
  font-weight: 400;
  font-family: "Tartuffo", sans-serif;
  font-style: normal;
  text-align: center;
  line-height: 100%;
  color: #2b2c2c;
}

.description {
  font-size: 30px;
  font-weight: 300;
  font-family: "Tartuffo", sans-serif;
  font-style: italic;
  text-align: center;
  line-height: auto;
  color: #2b2c2c;
}

.filmStockContainer {
  margin-top: 54px;
  width: 100%;
  height: 100%;
}

.filmStock {
  position: relative;
  bottom: 0;
  left: -50vw;
  width: 200vw;
  height: 64px;
  transform: rotate(-5deg);

  background-image: url("../assets/images/filmStock.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto 100%;
}

.actionText {
  margin-top: 54px;
  font-size: 40px;
  font-weight: 400;
  font-family: "Tartuffo", sans-serif;
  font-style: normal;
  text-align: left;
  line-height: auto;
  color: #2b2c2c;
  width: 335px;
}

.actionTextItalic {
  font-style: italic;
  font-weight: 300;
}

.actionTextSecond {
  width: 100%;
  max-width: 380px;
  font-size: 31px;
  margin-left: auto;
  text-align: right;
}

.contactContainer {
  margin-top: 65px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contactItemText {
  font-size: 30px;
  font-weight: 400;
  font-family: "Tartuffo", sans-serif;
  font-style: normal;
  text-align: left;
  line-height: auto;
  color: #004cc9;
}

@media (min-width: 769px) {
  //992
  .titleContainer {
    width: 450px;
  }

  .welcomeScreen {
    padding: 100px 50px;
  }
}

@media (min-width: 1200px) {
  //1200
  .actionText {
    margin-top: 100px;
    width: 450px;
  }

  .actionTextSecond {
    width: 100%;
    max-width: 700px;
    font-size: 40px;
    margin-left: auto;
    text-align: right;
  }
}
