.header {
  padding-top: 21px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navListItem {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #2b2c2c;
  font-family: "EBGaramond", sans-serif;
  font-style: normal;
  transition: color 0.3s ease;
  &:hover {
    color: #004cc9;
  }
}

.burgerButton {
  display: none;
}

@media (max-width: 1439px) {
  //1201
}

@media (max-width: 1200px) {
  //993
}

@media (max-width: 992px) {
  //769

  .navList {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  //577

  .burgerButton {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    background-color: #2b2c2c;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    z-index: 999999;
  }

  .burgerButtonIcon {
    display: block;
    width: 18px;
    height: 1.5px;
    background-color: #f7eee3;
    border-radius: 20px;
    transition: transform 0.3s ease, opacity 0.2s ease;
  }

  .burgerButtonIcon:nth-child(2) {
    opacity: 70%;
  }

  .burgerButton.open {
    .burgerButtonIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
    }

    .burgerButtonIcon:nth-child(1) {
      transform: translate(-50%, -50%) rotate(-45deg);
      z-index: 2;
    }

    .burgerButtonIcon:nth-child(2) {
      transform: translate(-50%, -50%) rotate(45deg);
      z-index: 1;
    }

    .burgerButtonIcon:nth-child(3) {
      opacity: 0;
    }
  }

  .mobileNavMenu {
    position: fixed;
    inset: 0;
    padding-bottom: env(safe-area-inset-bottom);
    background-color: #f7eee3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1000;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 120px;
      background-size: cover;
      opacity: 0.1;
      background-image: url("/images/bg.png");
    }
  }

  .navList {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .navListItem {
    font-size: 25px;
    text-align: center;
    &:not(:hover) {
      color: #2b2c2c;
    }
  }

  .navigationDesktop {
    display: none;
  }
}

@media (max-width: 576px) {
}
