.menu {
  margin-top: 52px;
}

.menuImages {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.menuImage {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 100%;
}

@media (max-width: 768px) {
  //577
  .menuImages {
    margin-top: 30px;
  }
}
